*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(66, 62, 77);  */
    background-position: center;
    background-repeat: no-repeat;
    cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat736.cur) 25 15, auto;
}

#button{
    height: 100px;
    width:  300px; 
    background-color: antiquewhite;
    cursor: url(https://cur.cursors-4u.net/nature/nat-8/nat740.cur) 25 15, auto; 
}

.center {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

  